<section class="section people-section bg-" id="people" ng-controller="PeopleSectionController as peopleCtrl">
    <header class="section-header container text-center mb30">
        <h2 class="section-title title-underblock dark normal">Personen</h2>
    </header>
    <div class="container mb30">
        <div class="col-md-4 col-sm-6">
            <div class="jumbotron people-wrapper">
                <div class="people-avatar">
                    <div style="background-image: url(/img/avatar1.jpg)"></div>
                </div>
                <h3 class="title-underblock dark mb20"><span>Sekretariat</span></h3>
                <ul class="contact-list">
                    <li><strong>Wer:</strong> Sekretärin,<br> Teststrasse 30, 1234 Derendingen</li>
                    <li><strong>Email:</strong> <a href="mailto:info@derendingen.ch">info@derendingen.ch</a></li>
                    <li><strong>Mobil:</strong> +90 0 (535) 778 21 44</li>
                    <li><strong>Tel:</strong> +90 0 (222) 883 11 54</li>
                    <li><strong>Öffnungszeiten:</strong><br> Mo-Fr: 8:30 - 17:00</li>
                </ul>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="jumbotron people-wrapper">
                <div class="people-avatar">
                    <div style="background-image: url(/img/avatar2.jpg)"></div>
                </div>
                <h3 class="title-underblock dark mb20"><span>Kirchenpräsidentin</span></h3>
                <ul class="contact-list">
                    <li><strong>Wer:</strong> Präsidäntin,<br> Teststrasse 30, 1234 Derendingen</li>
                    <li><strong>Email:</strong> <a href="mailto:info@derendingen.ch">info@derendingen.ch</a></li>
                    <li><strong>Mobil:</strong> +90 0 (535) 778 21 44</li>
                    <li><strong>Tel:</strong> +90 0 (222) 883 11 54</li>
                </ul>
            </div>
        </div
    </div><!-- End .col-md-4 -->
</section>