<section class="section landing-home bg-image no-margin" id="home" data-bgattach="img/church-hd-small.jpg" ng-controller="WelcomeSectionController as welCtrl">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <div class="landing-block">
                    <h3 class="zoomIn wow">Katholische Kirche Derendingen</h3>
                    <h1 class="zoomIn wow del-05">Willkommen</h1>
                    <p class="fadeIn wow del-10">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi nisi rem qui facere velit fugit, ipsam repudiandae tempora adipisci.</p>
                </div><!-- End .landing-block -->
            </div><!-- End .col-md-7 -->
        </div><!-- End .row -->
    </div><!-- End .container -->
</section>