<section class="section bg-lightgray" id="contact" ng-controller="ContactSectionController as contactCtrl">
    <header class="section-header container text-center mb30">
        <h2 class="section-title title-underblock dark normal">Kontakt</h2>
        <p class="lead small">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius maiores blanditiis voluptatum. <br> Odit voluptatem illum ex accusantium itaque vel quam iste optio..</p>
    </header>

    <div class="container">

        <div class="row">
            <div class="col-md-12">
                <h3 class="h2 title-underblock dark mb30">
                    <span>Ihr Anliegen</span>
                </h3>
                <div class="alert alert-success" ng-show="contactCtrl.formSubmitted">
                    <i class="fa fa-check"></i>
                    Danke, wir werden Sie bald per Email kontaktieren
                </div>
                <form method="post" id="contact-form" name="form" ng-submit="contactCtrl.submit()" novalidate>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label  class="input-desc">Vorname</label>
                                <input type="text" class="form-control" ng-model="contactCtrl.form.prename" name="contactname" placeholder="Ihr Vorname" required>
                            </div><!-- End .from-group -->
                        </div><!-- End .col-md-6 -->
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="input-desc">Nachname</label>
                                <input type="text" class="form-control" ng-model="contactCtrl.form.surname" name="contactlastname" placeholder="Ihr Nachname" required>
                            </div><!-- End .from-group -->
                        </div><!-- End .col-md-6 -->
                    </div><!-- End .row -->
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="input-desc">Email</label>
                                <input type="email" class="form-control" ng-model="contactCtrl.form.email" placeholder="Ihre Email Addresse" required>
                            </div><!-- End .from-group -->
                        </div><!-- End .col-md-6 -->
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="input-desc">
                                    Anliegen
                                </label>
                                <input type="text" class="form-control" ng-model="contactCtrl.form.concern" placeholder="Um was geht es?" required>
                            </div><!-- End .from-group -->
                        </div><!-- End .col-md-6 -->
                    </div><!-- End .row -->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="input-desc">Nachricht</label>
                                <textarea class="form-control" rows="6" ng-model="contactCtrl.form.message" name="contactmessage" placeholder="Beschreiben Sie ihr Anliegen kurz ..." required></textarea>
                            </div><!-- End .from-group -->

                            <div class="mb5"></div><!-- space -->

                            <div class="form-group text-right">
                                <button type="submit" class="btn btn-dark min-width" data-loading-text="Senden..." ng-class="{disabled : form.$invalid || contactCtrl.formSubmitting}"
                                   uib-tooltip="Bitte füllen Sie alle Felder aus!"
                                   tooltip-enable="form.$invalid">
                                    <span ng-hide="contactCtrl.formSubmitting">Absenden</span>
                                    <spinner trigger="contactCtrl.formSubmitting"></spinner>
                                </button>
                            </div><!-- End .from-group -->
                        </div><!-- End .col-md-12 -->
                    </div><!-- End .row -->
                </form>
            </div><!-- End .col-md-8 -->

            <div class="mb30 visible-sm visible-xs"></div><!-- space -->

        </div><!-- End .row -->
    </div><!-- End .container -->

</section>
