<section class="section bg-lightgray" id="links" ng-controller="LinksSectionController as linkCtrl">
    <header class="section-header container text-center mb30">
        <h2 class="section-title title-underblock dark normal">Weiterführende Links</h2>
        <p class="lead small">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius maiores blanditiis voluptatum. <br> Odit voluptatem illum ex accusantium itaque vel quam iste optio..</p>
    </header>
    <div class="container">
        <div class="col-md-4 mb30 web-link" ng-repeat="i in [1,2,3,4,5,6,7,8,9]">
            <h3><a href="http://www.google.ch">Website</a> <span class="title-icon"><i class="fa fa-music pull-right"></i></span></h3>
            <h6 class="third-color ml10">www.some-other-page.ch</h6>
            Dies ist ein kleiner Text welche die Website oder die verlinkte Organisation beschreibt, der Text soll kurz und knapp sein jedoch eine gute Idee von der Zielseite geben.
        </div>
    </div>
</section>