<section class="section people-section bg-" id="people" ng-controller="PeopleSectionController as peopleCtrl">
    <header class="section-header container text-center mb30">
        <h2 class="section-title title-underblock dark normal">
            Personen
            <span btn-right admin class="btn btn-dark pull-right" uib-tooltip="Person hinzufügen" ng-click="peopleCtrl.newPerson()">
                <i class="fa fa-plus"></i>
            </span>
        </h2>

    </header>
    <div class="container mb30">
        <div class="col-md-4 col-sm-6"  ng-repeat="person in peopleCtrl.persons">
            <div class="jumbotron people-wrapper">
                 <span class="edit-person btn btn-outline btn-white" admin uib-tooltip="Person bearbeiten" ng-click="peopleCtrl.edit(person)">
                    <i class="fa fa-pencil"></i>
                </span>
                <div class="people-avatar">
                    <div ng-style="{'background-image' : 'url(' + (person.image_path || 'img/flat_avatar.png') + ')' }"></div>
                </div>
                <h3 class="title-underblock white mb20"><span>{{ person.title }}</span></h3>
                <pre ng-bind-html="person.fields"></pre>
            </div>
        </div>
    </div><!-- End .col-md-4 -->
</section>