<section class="section landing-home bg-image no-margin" id="home" ng-controller="WelcomeSectionController as welCtrl" data-bgattach="/img/wallpapers/DSCN0343_bearbeitet-1.jpg">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <div class="landing-block">
                    <h3 class="zoomIn wow">Katholische Kirche Derendingen</h3>
                    <h1 class="zoomIn wow del-05">Willkommen</h1>
                    <p class="fadeIn wow del-10">Schön dass Sie hier sind! Hier bleiben Sie immer auf dem neusten Stand und können direkt mit uns Kontakt aufnehmen</p>
                </div><!-- End .landing-block -->
            </div><!-- End .col-md-7 -->
        </div><!-- End .row -->
    </div><!-- End .container -->
</section>

