// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
$boss-gray : #505050;
$boss-light : #f2f2f2;
$boss-text-gray : #9a9a9a;
$boss-color : #1B778C;

@import "custom";

@import "angular-toastr/dist/angular-toastr.min";
@import "angularjs-datepicker/dist/angular-datepicker.min";
@import "owl.carousel/dist/assets/owl.carousel";
@import "sweetalert/dist/sweetalert";
@import "common/sweetalert-theme";

@import "datepicker-theme";
@import "common/uib-modal";
@import "common/unite-gallery-component";
@import "views/events-section";
@import "views/gallery-section";
@import "views/welcome-section";
@import "views/person-section";